$phone-breakpoint: 767px;
$desktop-breakpoint: 600px;
$celeste: #c0f7e0ff;
$tiffany-blue: #a1dbc3ff;
$sea-green: #258963ff;
$fairy-tale: #fdcdd9ff;

.may-container {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  @media (max-width: $phone-breakpoint) {
    display: flex;
    flex-direction: row-reverse;
  }
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: column;
  }
}

.file-container {
  width: 90%;
  height: 90%;
  background-color: $fairy-tale;
  margin: 0px;
  @media (max-width: $phone-breakpoint) {
    display: flex;
    flex-direction: row-reverse;
  }
  @media (min-width: $desktop-breakpoint) {
    display: flex;
    flex-direction: column;
  }
}

.top-file {
  background-color: transparent;
  justify-content: center;

  @media (max-width: $phone-breakpoint) {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
  }
  @media (min-width: $desktop-breakpoint) {
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.divider-1,
.divider-2,
.divider-3,
.divider-4,
.divider-5,
.divider-6 {
  @media (max-width: $phone-breakpoint) {
    width: 100%;
    height: 15%;
    background-color: $fairy-tale;
    border-radius: 0 5px 30px 0;
  }
  @media (min-width: $desktop-breakpoint) {
    width: 15%;
    height: 100%;
    background-color: $fairy-tale;
    border-radius: 5px 35px 0 0;
  }
}
.content {
  width: 100%;
  height: 100%;
  background-color: $fairy-tale;
}
