$font: "Poppins", sans-serif;
$celeste: #c0f7e0ff;
$tiffany-blue: #a1dbc3ff;
$sea-green: #258963ff;
$fairy-tale: #fdcdd9ff;

.camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.camera-body {
  width: 360px;
  height: 280px;
  background-color: $fairy-tale;
  border: 9px solid #16503a;
  border-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset -12px 0px 0px #fdc4d2;
}

.bar {
  width: 360px;
  height: 90px;
  border-bottom: 6px solid #16503a;
  background-color: $celeste;
  border-radius: 75px 75px 0 0;
  display: flex;
  justify-content: space-between;
  box-shadow:
    inset 0px 9px 0px #dbfaed,
    inset -12px 0px 0 0px $tiffany-blue;
}

.small-glass {
  width: 35px;
  height: 35px;
  margin-left: 50px;
  margin-top: 30px;
  background: #16503a;
  border: 4px solid #16503a;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px white;
  z-index: 5;
}

.bar:before {
  width: 40px;
  height: 70px;
  left: 60px;
  top: 30px;
  position: absolute;
  content: "";
  background: #ffffff80;
  border-radius: 100px;
}

.flash {
  width: 110px;
  height: 35px;
  background-color: #a1dbc3;
  border: 4px solid #16503a;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.box-1,
.box-2 {
  width: 28px;
  height: 15px;
  margin: auto;
}

.box-2 {
  background: #16503a;
  border: 4px solid #16503a;
  box-shadow: inset 0 0 0 4px white;
  border-radius: 3px;
}

.box-1 {
  background: #16503a;
  margin: auto;
}

.bottom {
  width: 360px;
  height: 60px;
  background-color: $celeste;
  border-top: 6px solid #16503a;
  border-radius: 0 0 75px 75px;
  box-shadow:
    inset -12px 0px 0 0px #a1dbc3,
    inset -1px -10px 0 0px #a1dbc3;
}

.dot {
  width: 15px;
  height: 15px;
  position: absolute;
  background: white;
  top: 45%;
  left: 23%;
  border-radius: 100%;
  border: 4px solid #16503a;
}

.lens {
  width: 170px;
  height: 170px;
  position: absolute;
  background: white;
  top: 25%;
  left: 30%;
  border-radius: 100%;
  border: 5px solid #16503a;
  box-shadow: 0px 0px 0 0px white;
}

.inner-lens {
  margin: 12px;
  width: 135px;
  height: 135px;
  border: 5px solid #16503a;
  border-radius: 100%;
  background: #16503a;
  box-shadow:
    inset 0 0 0 5px $celeste,
    inset -20px -16px 0 20px $sea-green;
}

.inner-lens:after .inner-lens:before {
  position: absolute;
  content: "";
  background: #ffffffb5;
  border-radius: 100%;
}

.inner-lens:after {
  width: 60px;
  height: 60px;
  left: 45px;
  top: 45px;
}

.inner-lens:before {
  width: 30px;
  height: 30px;
  left: 135px;
  top: 135px;
}

.top {
  display: flex;
  justify-content: flex-start;
}

.button-1,
.button-2,
.button-3,
.button-4 {
  border-top: 6px solid #16503a;
  border-left: 6px solid #16503a;
  border-right: 6px solid #16503a;
  background: white;
  border-radius: 20px 20px 0 0;
  position: absolute;
}

.button-1 {
  width: 40px;
  height: 20px;
  top: -25px;
  left: 65px;
}

.button-4 {
  width: 42px;
  height: 16px;
  top: -21px;
  left: 260px;
}

.button-2 {
  width: 15px;
  height: 15px;
  top: -20px;
  left: 120px;
}

.button-3 .box {
  background: white;
  width: 40px;
  height: 10px;
  border: 6px solid #16503a;
  border-radius: 9px;
  margin: 19px;
}

.button-3 {
  width: 90px;
  height: 50px;
  top: -55px;
  left: 150px;
  background: $fairy-tale;
  border-radius: 40px 40px 0 0;
  box-shadow: inset 5px 5px 0 0px #fdd2dc;
}
