$celeste: #c0f7e0ff;
$tiffany-blue: #a1dbc3ff;
$sea-green: #258963ff;
$fairy-tale: #fdcdd9ff;
$font: "Poppins", sans-serif;

.december-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
}
