$phone-breakpoint: 767px;
$desktop-breakpoint: 600px;
$celeste: #c0f7e0ff;
$tiffany-blue: #a1dbc3ff;
$sea-green: #258963ff;
$fairy-tale: #fdcdd9ff;

.july-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
  @media (max-width: $phone-breakpoint) {
    padding: 5%;
  }
}

.july-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.july-img-container {
  @media (max-width: $phone-breakpoint) {
    max-width: 111px;
    padding: 1%;
  }
  @media (min-width: $desktop-breakpoint) {
    max-width: 300px;
    padding: 1%;
  }
}

.july-img {
  @media (max-width: $phone-breakpoint) {
    max-width: 105px;
    padding: 1%;
  }
  @media (min-width: $desktop-breakpoint) {
    max-width: 300px;
    padding: 1%;
  }
}

.music-button {
  background-color: $fairy-tale;
  border: $tiffany-blue;
  border-style: solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  margin-top: 30px;
}

.material-symbols-outlined {
  color: $sea-green;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
