$font: "Poppins", sans-serif;
$background-color: #258963ff;
$button-color: #fdcdd9ff;
$text-color: #258963ff;

// --- global, container ---
.surprises-container {
  background-color: $background-color;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
}

// --- header ---
.surprises-header {
  color: $button-color;
  text-align: center;
  margin-bottom: 30px;
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

// --- months grid ---
.months-grid {
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// --- months buttons ---
.month-button {
  background-color: $button-color;
  color: $text-color;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 29px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1 / 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(0.95);
    // transform: translateY(-2px);
    // box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

  // Effet au clic?
  &:active {
    filter: brightness(0.9);
    // transform: translateY(0);
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 600px) {
  .months-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 600px;
    gap: 25px;
  }
  .month-button {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .months-grid {
    max-width: 100%;
    width: 100%;
    gap: 15px;
  }
}
