/* Coolors Exported Palette - https://coolors.co/c0f7e0-a1dbc3-258963-fdcdd9 */

/* CSS HEX */
--celeste: #C0F7E0ff;
--tiffany-blue: #A1DBC3ff;
--sea-green: #258963ff;
--fairy-tale: #FDCDD9ff;

/* CSS HSL */
--celeste: hsla(155, 77%, 86%, 1);
--tiffany-blue: hsla(155, 45%, 75%, 1);
--sea-green: hsla(157, 57%, 34%, 1);
--fairy-tale: hsla(345, 92%, 90%, 1);

/* SCSS HEX */
$celeste: #C0F7E0ff;
$tiffany-blue: #A1DBC3ff;
$sea-green: #258963ff;
$fairy-tale: #FDCDD9ff;

/* SCSS HSL */
$celeste: hsla(155, 77%, 86%, 1);
$tiffany-blue: hsla(155, 45%, 75%, 1);
$sea-green: hsla(157, 57%, 34%, 1);
$fairy-tale: hsla(345, 92%, 90%, 1);

/* SCSS RGB */
$celeste: rgba(192, 247, 224, 1);
$tiffany-blue: rgba(161, 219, 195, 1);
$sea-green: rgba(37, 137, 99, 1);
$fairy-tale: rgba(253, 205, 217, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);
$gradient-right: linear-gradient(90deg, #C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);
$gradient-bottom: linear-gradient(180deg, #C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);
$gradient-left: linear-gradient(270deg, #C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);
$gradient-top-right: linear-gradient(45deg, #C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);
$gradient-bottom-right: linear-gradient(135deg, #C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);
$gradient-top-left: linear-gradient(225deg, #C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);
$gradient-bottom-left: linear-gradient(315deg, #C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);
$gradient-radial: radial-gradient(#C0F7E0ff, #A1DBC3ff, #258963ff, #FDCDD9ff);