$font: "Poppins", sans-serif;
$celeste: #c0f7e0ff;
$tiffany-blue: #a1dbc3ff;
$sea-green: #258963ff;
$fairy-tale: #fdcdd9ff;

.player-card {
  width: 20rem;
  background-color: $tiffany-blue;
  border-radius: 0.5rem;
  padding: 1rem;
}

.img {
  width: 20rem;
  height: auto;
  border-radius: 0.5rem;
}

.album-cover {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
}

input[type="range"] {
  width: 100%;
  height: 5px;
  accent-color: $sea-green;
  outline: none;
}

.track-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.track-duration > p {
  font-size: 13px;
  font-weight: 500;
  color: $sea-green;
  margin: 0;
}

.pause-play-button {
  width: 3rem;
  height: 3rem;
  font-size: 34px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $fairy-tale;
  background-color: $sea-green;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px auto 10px auto;
}
